Options +FollowSymLinks
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]

RewriteCond %{HTTP_HOST} ^www.pianolovescore.com [NC]
RewriteRule ^(.*)$ http://pianolovescore.com/$1 [L,R=301]